.container {
  width: 100vw;
  height: 4rem;
  background-color: gray;

  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo_container {
  margin-left: 0.75rem;
}

.logo_container > img {
  width: 3rem;
}

.title_container {
  font-family: 'Shadows Into Light', cursive;
  font-size: 1rem;
  /* background-color: blue; */
}

.link_container {
  margin-left: auto;
  margin-right: 1.5rem;

}

.link_container > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0rem 2rem;

  font-size: 1.5rem;
  
  list-style: none;
}

.profile {
  width: 3rem;
  height: 3rem;
}

.pfp {
  width: 100%;
  border-radius: 100%;

  cursor: pointer;
}